@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  scroll-behavior: smooth;
}

main {
  margin: 0px 124px;
}

nav {
  display: flex;
  align-items: start;
  margin-top: 24px;
}

nav > div {
  width: 100%;
  margin-top: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > div > div {
  display: flex;
  align-items: center;
}

.blur_button {
  background-color: rgba(234, 244, 255, 1);
  display: flex;
  align-items: center;
  padding: 16px 24px;
  border-radius: 16px;
}

.blur_button * {
  margin: 0px 4px;
}

.blur_button span {
  color: rgba(33, 137, 255, 1);
  font-family: Manrope;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

nav > img {
  margin-right: 28px;
}

.nav_el {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgba(11, 36, 65, 1);
  margin-right: 40px;
}

nav .lang {
  margin: 0px 24px 0px 6px;
  padding: 16px;
  border: 1px solid rgba(234, 244, 255, 1);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.lang span {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: rgba(33, 137, 255, 1);
  margin-right: 4px;
}

header {
  background-color: rgba(234, 244, 255, 1);
  overflow: hidden;
  border-radius: 44px;
  margin-top: 37px;
  position: relative;
}

.header_content {
  margin: 56px 0px 0px 56px;
  max-width: 456px;
}

.first_line {
  display: flex;
  align-items: center;
}

.first_line span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.5;
  color: rgba(11, 36, 65, 1);
  margin-right: 8px;
}

header h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: rgba(11, 36, 65, 1);
  margin-bottom: 56px;
  margin-top: 16px;
}

header h1 div {
  display: inline;
  position: relative;
}

header h1 div img {
  position: absolute;
  left: 0px;
  bottom: -8px;
  z-index: 1;
}

header h1 div span {
  color: rgba(33, 137, 255, 1);
  position: relative;
  z-index: 2;
}

.big_button {
  padding: 16px 36px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(33, 137, 255, 1);
  border-radius: 20px;
  margin-bottom: 64px;
  display: inline-block;
}

.header_photo {
  width: 579px;
  height: 579px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  z-index: 5;
  right: -116px;
  top: -40px;
  background-image: url("./images/header_photo.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.header_line {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 23px;
  margin-bottom: 57px;
}

.header_line span {
  width: 32px;
  border: 4px solid rgba(0, 43, 83, 1);
  opacity: 15%;
  margin-left: 20px;
  border-radius: 4px;
}

.active_line {
  width: 160px !important;
  border-color: rgba(33, 137, 255, 1) !important;
  opacity: 100% !important;
}

.block {
  margin-bottom: 80px;
}

.block_title {
  font-weight: 700;
  font-size: 28px;
  line-height: 44px;
  color: rgba(11, 36, 65, 1);
  margin-bottom: 32px;
}

.block1 > div {
  display: flex;
}

.block1 > div > div:first-child > div {
  display: flex;
}

.block1 > div > div:first-child > div:first-child {
  margin-bottom: 24px;
}

.block1 > div > div:first-child {
  width: 77%;
}

.block1 > div > div:nth-child(2) {
  width: 23%;
}

.block1 .item1 {
  width: calc(45% - 24px);
  margin-right: 24px;
}

.block1 .item2 {
  width: calc(55% - 24px);
  margin-right: 24px;
}

.block1 .item1,
.block1 .item2 {
  height: 273px;
}

.block1 .item3,
.block1 .item4 {
  width: 100%;
}

.block1 .item3 {
  height: 336px;
  margin-bottom: 24px;
}

.block1 .item4 {
  height: 210px;
}

.block1 .item {
  position: relative;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border-radius: 44px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  overflow: hidden;
}

.block1 .item::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.4) 70.9%
  );
}

.block1 .item > * {
  position: relative;
  z-index: 1;
}

.block1 .item span {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-left: 32px;
  margin-bottom: 20px;
  color: white;
}

.small_button {
  padding: 10px 24px;
  background-color: rgba(33, 137, 255, 1);
  border-radius: 12px;
  margin-left: 32px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  width: min-content;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.small_button img {
  margin-left: 8px;
}

.block1 .item4 {
  border-radius: 44px;
  background-color: rgba(234, 244, 255, 1);
  overflow: hidden;
}

.block1 .item4 > span {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: rgba(11, 36, 65, 1);
  display: block;
  width: 160px;
  margin: 32px 0px 0px 32px;
}

.block1 .item4 > div {
  display: flex;
  align-items: center;
  height: 48px;
  background-color: rgba(33, 137, 255, 1);
  transform: rotate(-13deg);
  width: max-content;
  margin-left: -40px;
  margin-top: 40px;
}

.block1 .item4 > div > span {
  white-space: nowrap;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: white;
  margin: 0px 4px;
}

.block2 > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.teacher_block {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 52px;
}

.block2 {
  margin-bottom: 28px;
}

.profile_photo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px 0px 36px 0px;
}

.teacher_block h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: rgba(11, 36, 65, 1);
  margin-bottom: 16px;
}

.teacher_block span {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: rgba(11, 36, 65, 1);
  display: flex;
  align-items: center;
}

.teacher_block span img {
  margin-right: 12px;
}

.block3 > div {
  display: flex;
  min-height: 700px;
  gap: 24px;
}

.block3 > div > div:first-child {
  width: 42%;
}

.block3 > div > div:last-child {
  width: 58%;
}

.block3 > div > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.block3 .item {
  border-radius: 40px;
}

.block3 .item1 {
  padding: 32px;
  background-color: rgba(241, 226, 193, 1);
}

.block3 img {
  margin-bottom: 24px;
}

.block3 p {
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  color: rgba(11, 36, 65, 1);
  max-width: 360px;
}

.block3 .item2 {
  background-image: url("./images/about_photo1.png");
  background-position: center;
  background-size: cover;
  flex: 1;
}

.block3 .item3 {
  background-image: url("./images/about_photo2.png");
  background-position: center;
  background-size: cover;
  flex: 1;
}

.block3 .item4 {
  padding: 32px;
  background-color: rgba(216, 219, 251, 1);
}

.block3 .item4 p {
  max-width: 534px;
  margin-bottom: 32px;
}

.block4 > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.block4 > div > div {
  padding: 40px;
  background-color: rgba(244, 244, 244, 1);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block4 span {
  color: rgba(11, 36, 65, 1);
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.block5 {
  border-radius: 40px;
  background-color: rgba(234, 244, 255, 1);
  padding: 64px 81px 0px 56px;
  display: flex;
  position: relative;
}

.block5 > div:first-child {
  width: 43%;
  padding-right: 100px;
}

.block5 > div:last-child {
  width: 57%;
}

.block5 h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: rgba(11, 36, 65, 1);
  margin-bottom: 16px;
}

.block5 p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: rgba(11, 36, 65, 1);
}

.input {
  padding: 20px 24px;
  border-radius: 20px;
  border: 1px solid rgba(33, 137, 255, 0.4);
}

.input::placeholder {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: rgba(11, 36, 65, 1);
  opacity: 50%;
}

.input:focus {
  border-color: rgba(33, 137, 255, 1);
  outline: 1px solid rgba(33, 137, 255, 1);
}

.name_input {
  width: 100%;
  margin-bottom: 24px;
}

.tel_input {
  width: calc(50% - 12px);
  margin-right: 10px;
  margin-bottom: 48px;
}

.email_input {
  width: calc(50% - 12px);
  margin-left: 10px;
  margin-bottom: 48px;
}

.sub_button {
  cursor: pointer;
  border: 2px solid rgba(33, 137, 255, 1);
  opacity: 50%;
}

.sub_button:hover {
  opacity: 100%;
}

.sub_button:active {
  border: 2px solid blue;
}

.block5 .icon {
  position: absolute;
  bottom: 0px;
  left: 69px;
  width: 291px;
}

.block5 > div:last-child {
  flex: 1;
}

footer {
  width: 100%;
  padding: 0px 156px;
  background-color: rgba(234, 244, 255, 1);
}

.line1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 32px;
}

.line1 img {
  margin-right: 280px;
}

.line1 div {
  max-width: 238px;
  margin-right: 64px;
}

.line1 div span {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2%;
  opacity: 40%;
  color: rgba(11, 36, 65, 1);
  margin-bottom: 12px;
  text-align: start;
}

.line1 address,
.line1 p {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2%;
  color: rgba(11, 36, 65, 1);
}

.line1 address {
  font-style: normal;
  text-align: center;
}

.line2 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 28px 0px 36px;
}

.line2 p {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 2%;
  color: rgba(11, 36, 65, 1);
  max-width: 250px;
}

.line2 a {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2%;
  color: rgba(11, 36, 65, 1);
}

.line2 > div:last-child {
  display: flex;
  align-items: center;
  gap: 24px;
}

footer hr {
  border: 1px solid rgba(24, 24, 24, 0.15);
}

footer > p {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 2%;
  color: rgba(11, 36, 65, 1);
  margin-top: 36px;
  padding-bottom: 52px;
}
